{% extends 'base.twig' %}

{% block content %}

<div
	class="online-exhibit"
	x-data="{
		slideIndex: 0,
		displayIndex: 1,
		slideCount: 1,
		fullScreen: false,
		
		init() {
			
			let slideQuery = new URLSearchParams(location.search).get('slide');
			this.slideIndex = slideQuery ? slideQuery - 1 : 0;
			this.displayIndex = slideQuery ? slideQuery : 1;

			exhibitCarousel = tns({
				container: this.$refs.exhibit,
				nextButton: '#nextButton',
				prevButton: '#prevButton',
				loop: false,
				arrowKeys: true,
				items: 1,
				autoplay: false,
				nav: false,
				autoplayButtonOutput: false,
				startIndex: this.slideIndex,
			});
			
			// set slide count
			this.slideCount = exhibitCarousel.getInfo().slideCount;

			// update current slide on index change

			exhibitCarousel.events.on('indexChanged', () => {

				// update the current slide indicator
				let newDisplayIndex = exhibitCarousel.getInfo().displayIndex;
				this.displayIndex = newDisplayIndex;

				// update URL parameters
				let url = new URL(window.location);
				if ( url.searchParams.get('slide') != newDisplayIndex ) {
					url.searchParams.set('slide', newDisplayIndex );
					history.pushState({}, '', url);
				}	
			});

			addEventListener('popstate', () => {
				let url = new URL(window.location);
				let newIndex = url.searchParams.get('slide') ? url.searchParams.get('slide') - 1 : 0;
				exhibitCarousel.goTo(newIndex);
			});

			// update fullscreen property on fullscreen change
			addEventListener('fullscreenchange', () => {
				if (document.fullscreenElement) {
					this.fullScreen = true;	
				} else {
					this.fullScreen = false;
				}
			});

		},

		toggleFullscreen() {
			if (document.fullscreenElement) {
				document.exitFullscreen().catch((err) => console.error(err))
			} else {
				$refs.exhibitContainer.requestFullscreen().catch((err) => console.error(err))
			}
		}
	}"
	@keydown.f.window="toggleFullscreen"

>
	<div x-ref="exhibitContainer" class="bg-exhibit-bg text-exhibit-text">
		<div
			x-show="displayIndex > 1"
			x-transition
			x-cloak
			class="bg-exhibit-ui-bg gap-x-4 admin-top fixed top-0 left-0 z-20 flex items-center text-exhibit-ui-text"
		>
			<h1>
				<button class="text-base! bg-transparent! px-8! py-4!" @click="exhibitCarousel.goTo('0')">{{ post.title }}</button>
			</h1>
		</div>
		<div x-ref="exhibit">
			<div id="slide-1">
				<div class="bg-exhibit-ui-bg relative flex w-full h-screen pb-20 px-6 sm:px-8 overflow-y-auto">
					{% if post.thumbnail.src %}
						<img class="opacity-20 absolute inset-0 w-full h-full! object-cover" src="{{ post.thumbnail.src }}" />
					{% endif %}
					<div class="relative z-10 max-w-2xl m-auto text-center">
						<div class="uppercase text-exhibit-white">Online Exhibit</div>
						<h1 class="font-display text-5xl! text-exhibit-heading!">
								{{ post.title }}
						</h1>
					</div>
				</div>
			</div>
			{% for slide in post.content|split('<!--nextpage-->') %}
			<div id="{{ 'slide-' ~ (loop.index + 1) }}">
				<div class="w-full h-screen overflow-y-auto">
					<div class="is-block-content is-layout-flow w-full flex flex-col justify-center items-center px-6 sm:px-8 py-20 min-h-screen">{{ slide }}</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="bg-exhibit-ui-bg fixed bottom-0 z-10 w-full p-2 text-base text-exhibit-ui-text flex items-center justify-between">
				<a class="fill-exhibit-ui-text flex! items-center uppercase text-exhibit-ui-text!" href="{{ fn('get_post_type_archive_link', 'exhibit') }}" data-tippy-content="Back to online exhibits">
					<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M277.4 4.002C283.5-1.334 292.5-1.334 298.6 4.002L570.6 244C577.2 249.8 577.8 259.1 571.1 266.6C566.2 273.2 556 273.8 549.4 267.1L512 234.1V432C512 476.2 476.2 512 432 512H144C99.82 512 64 476.2 64 432V234.1L26.59 267.1C19.96 273.8 9.849 273.2 4.003 266.6C-1.844 259.1-1.212 249.8 5.414 244L277.4 4.002zM96 206.7V432C96 458.5 117.5 480 144 480H432C458.5 480 480 458.5 480 432V206.7L288 37.34L96 206.7z"/></svg>
					<div class="md:block hidden ml-4">Virtual Exhibits</div>
				</a>
				
				<div class="flex items-center justify-center h-8 gap-4">
					<button 
						data-tippy-content="Go to previous slide (←)" 
						id="prevButton"
						class="disabled:text-exhibit-light disabled:fill-exhibit-ui-disabled gap-x-2 fill-exhibit-ui-text flex! items-center bg-transparent! uppercase text-base!"
					>
						<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M448 256C448 264.8 440.6 272 431.4 272H54.11l140.7 149.3c6.157 6.531 5.655 16.66-1.118 22.59C190.5 446.6 186.5 448 182.5 448c-4.505 0-9.009-1.75-12.28-5.25l-165.9-176c-5.752-6.094-5.752-15.41 0-21.5l165.9-176c6.19-6.562 16.69-7 23.45-1.094c6.773 5.938 7.275 16.06 1.118 22.59L54.11 240h377.3C440.6 240 448 247.2 448 256z"/></svg>
						<span class="hidden sm:block">PREV</span>
					</button>
					<div>
						<span id="displayIndex" x-text="displayIndex"></span> / <span id="slideCount" x-text="slideCount"></span>
					</div>
					<button data-tippy-content="Go to next slide (→)" id="nextButton" class="disabled:text-exhibit-ui-disabled disabled:fill-exhibit-ui-disabled gap-x-2 fill-exhibit-ui-text flex! items-center bg-transparent! uppercase text-base!">
						<span class="hidden sm:block">NEXT</span>
						<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M443.7 266.8l-165.9 176C274.5 446.3 269.1 448 265.5 448c-3.986 0-7.988-1.375-11.16-4.156c-6.773-5.938-7.275-16.06-1.118-22.59L393.9 272H16.59c-9.171 0-16.59-7.155-16.59-15.1S7.421 240 16.59 240h377.3l-140.7-149.3c-6.157-6.531-5.655-16.66 1.118-22.59c6.789-5.906 17.27-5.469 23.45 1.094l165.9 176C449.4 251.3 449.4 260.7 443.7 266.8z"/></svg>
					</button>
				</div>

				<button
					data-tippy-content="Toggle full screen (f)"
					@click="toggleFullscreen"
					class="gap-x-2 flex! items-center uppercase! bg-transparent! text-base!"
				>
					<div class="sm:block hidden">Fullscreen</div>
					<svg x-show="!fullScreen" class="fill-exhibit-ui-text w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M144 32h-128C7.156 32 0 39.16 0 48v128C0 184.8 7.156 192 16 192S32 184.8 32 176V64h112C152.8 64 160 56.84 160 48S152.8 32 144 32zM144 448H32v-112C32 327.2 24.84 320 16 320S0 327.2 0 336v128C0 472.8 7.156 480 16 480h128C152.8 480 160 472.8 160 464S152.8 448 144 448zM432 320c-8.844 0-16 7.156-16 16V448h-112c-8.844 0-16 7.156-16 16s7.156 16 16 16h128c8.844 0 16-7.156 16-16v-128C448 327.2 440.8 320 432 320zM432 32h-128C295.2 32 288 39.16 288 48S295.2 64 304 64H416v112C416 184.8 423.2 192 432 192S448 184.8 448 176v-128C448 39.16 440.8 32 432 32z"/></svg>
					<svg x-show="fullScreen" class="fill-exhibit-ui-text w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M144 320h-128C7.156 320 0 327.2 0 336S7.156 352 16 352H128v112C128 472.8 135.2 480 144 480S160 472.8 160 464v-128C160 327.2 152.8 320 144 320zM304 192h128C440.8 192 448 184.8 448 176S440.8 160 432 160H320V48C320 39.16 312.8 32 304 32S288 39.16 288 48v128C288 184.8 295.2 192 304 192zM432 320h-128c-8.844 0-16 7.156-16 16v128c0 8.844 7.156 16 16 16s16-7.156 16-16V352h112c8.844 0 16-7.156 16-16S440.8 320 432 320zM144 32C135.2 32 128 39.16 128 48V160H16C7.156 160 0 167.2 0 176S7.156 192 16 192h128C152.8 192 160 184.8 160 176v-128C160 39.16 152.8 32 144 32z"/></svg>
				</button>
			</div>
	</div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
